{#
/**
 * @file
 * Default theme implementation to display the basic html structure of a single
 * Drupal page.
 *
 * Variables:
 * - $css: An array of CSS files for the current page.
 * - $language: (object) The language the site is being displayed in.
 *   $language->language contains its textual representation.
 *   $language->dir contains the language direction. It will either be 'ltr' or
 *   'rtl'.
 * - $rdf_namespaces: All the RDF namespace prefixes used in the HTML document.
 * - $grddl_profile: A GRDDL profile allowing agents to extract the RDF data.
 * - $head_title: A modified version of the page title, for use in the TITLE
 *   tag.
 * - $head_title_array: (array) An associative array containing the string parts
 *   that were used to generate the $head_title variable, already prepared to be
 *   output as TITLE tag. The key/value pairs may contain one or more of the
 *   following, depending on conditions:
 *   - title: The title of the current page, if any.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site, if any, and if there is no title.
 * - $head: Markup for the HEAD section (including meta tags, keyword tags, and
 *   so on).
 * - $styles: Style tags necessary to import all CSS files for the page.
 * - $scripts: Script tags necessary to load the JavaScript files and settings
 *   for the page.
 * - $page_top: Initial markup from any modules that have altered the
 *   page. This variable should always be output first, before all other dynamic
 *   content.
 * - $page: The rendered page content.
 * - $page_bottom: Final closing markup from any modules that have altered the
 *   page. This variable should always be output last, after all other dynamic
 *   content.
 * - $classes String of classes that can be used to style contextually through
 *   CSS.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_html()
 * @see template_preprocess()
 * @see template_preprocess_html()
 * @see template_process()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    theme.settings.navbar_position ? 'navbar-is-' ~ theme.settings.navbar_position,
    theme.has_glyphicons ? 'has-glyphicons',
  ]
%}
<!DOCTYPE html>
<html {{ html_attributes }}>
<head>
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ head_title|safe_join(' | ') }}</title>
<meta name="dcterms.title" content="Canberra Web Design and Development Services by Canberra Systems" />
<meta name="keywords" content="Canberra web development, Canberra web design, Canberra website development, Canberra website design, web development Canberra, web design Canberra, website development Canberra, website design Canberra, Drupal Canberra, Bootstrap Canberra, Drupal 8 Canberra, Bootstrap 3 Canberra, AWS Canberra, Amazon Web Services Canberra" />
<meta name="dcterms.identifier" content="http://www.canberra.systems" />
<meta name="dcterms.creator" content="Phil Brown" />
<meta name="dcterms.description" content="Canberra Systems is a shared personal web development environment." />
<meta name="dcterms.subject" content="web development canberra;web design canberra;drupal 8 canberra;bootstrap 3 canberra;" />
<meta name="dcterms.audience" content="Web design and development clients;Web designers and developers" />
<meta name="dcterms.coverage" content="Canberra, ACT, 2601, Sydney, NSW, Melbourne, Vic." />
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
<css-placeholder token="{{ placeholder_token|raw }}"><js-placeholder token="{{ placeholder_token|raw }}"></head>
<body{{ attributes.addClass(body_classes) }}>
<a href="#main-content" class="visually-hidden focusable skip-link">{{ 'Skip to main content'|t }}</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/1canberrasystems/data/bootstrap.min.js"></script>
</body>
</html>
